# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# CSS
/public/styles/styles.css
/public/styles/styles.css.map
# production
.env
/build

# misc
.DS_Store
.env
.config

npm-debug.log*
yarn-debug.log*
yarn-error.log*
