.image-gallery {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: gray;
  width: 45%;


  // main image slider
  .slider {
    width: 100%;
    height: auto;
    overflow: hidden;

    // Thumbnails
    .thumbnails {
      width : 10%;
      .thumbnail {
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
      }
    }


    // main image navigation arrows
    .main-previous {
      // position: absolute;
      top: 50%;
      left: 7%;
      z-index: 9;
    }
    .main-next {
      // position: absolute;
      top: 50%;
      left: 75%;
      z-index: 9;
    }


    // main image slides
    .slides {
      width: 700%;
      height:auto;
      display: flex;
    }
    .main-image {
      width: 14.28%;
      transition: 2s;
      img{
        width: 100%;
        max-width: 800px;
        height: auto;
        z-index: 8;
      }
    }
  }
  // margin: 0;
  // padding: 0;
  // display: flex;
  // position: relative;
  // background: gray;
  // width: 50%;
  // height: 50%;
  // align-items: center;
  // text-align: center;

  // .thumbnails {
  //   display: flex;
  //   flex-direction: column;
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   z-index: 9;

  //   .thumbnail {
  //     display: none;
  //   }
  // }

  // .main {
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;

  //   .main-image {
  //     display: flex;
  //     object-fit:fill;
  //     width: 100%;
  //     height: auto;
  //   }

  //   .previous{
  //     position:absolute;
  //     top: 50%;
  //     left:23%;
  //     font-weight: bold;
  //   }

  //   .next {
  //     position:absolute;
  //     top: 50%;
  //     right:7%;
  //     font-weight: bold;
  //   }

  // }
}