.image-gallery {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  width: 80vh;
  height: 50vh;
  position: relative;

  .checkmark {
    display:inline-block;
    width: 22vh;
    height:22vh;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    z-index: 9;
}

.checkmark_circle {
    position: absolute;
    width:22vh;
    height:22vh;
    background-color: white;
    border-radius:5vh;
    border: solid 4vh red;
    z-index: 9;
}

.checkmark_stem {
    position: absolute;
    width:5vh;
    height:28vh;
    background-color: red;
    left:11vh;
    bottom:5vh;
}

.checkmark_kick {
    position: absolute;
    width:14vh;
    height:5vh;
    background-color: red;
    left:0vh;
    top:12vh;
}

  // main image slider
  .slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .thumbnail-container {
      height: 3000%;
      width: 100%;
      display: flex;
    }
    // Thumbnails
    .thumbnail-previous {
      position: absolute;
      top: 1vh;
      left: 5vh;
      height: 3vh;
      z-index: 9;
    }
    .thumbnail-next{
      position: absolute;
      height: 3vh;
      left: 5vh;
      bottom: 1vh;
      z-index: 9;
    }
    .thumbnails {
      align-items: center;
      display: flex;
      top: 4vh;
      flex-direction: column;
      overflow: hidden;
      position: absolute;
      left: 1vh;
      z-index: 9;
      width: 9vh;
      height: 42vh;
      .thumbnail {
        margin-bottom: 0.5vh;
        display: flex;
        width: 100%;
        height: 5.5vh;
        z-index: 9;
        overflow: hidden;
        justify-content: center;
        img {
          display: flex;
          height: 10vh;
          width: auto;
        }
      }
    }


    // main image navigation arrows
    .main-previous {
      color: blanchedalmond;
      position: absolute;
      top: 50%;
      left: 17%;
      z-index: 9;
    }

    .main-next {
      color:blanchedalmond;
      position: absolute;
      top: 50%;
      right: 7%;
      z-index: 9;
    }


    // main image slides
    .slides {
      width: 3000%;
      height: 100%;
      display: flex;
    }

    .main-image {
      display: flex;
      justify-content: center;
      width: 80vh;
      transition: 2s;
      height: 100%;
      overflow: hidden;

      img {
        width: auto;
        max-height: 50vh;
        object-fit: cover;
        height: 100%;
        z-index: 8;
      }
    }
  }



}