@import './image-gallery';
@import './shopping-cart';
@import './style-selector';
@import './slogan';
@import './product-summary';

.image-gallery {
  float: left;
  border-style: solid;
}

.product-summary {
  float: right;
}


.navbar {
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
}

.image-summary {
  display: flex;
  justify-content: center;

}

.slogan {
  display:flex;
}