.product-summary {
  width: 30vh;
  padding: 2vh;
  .card-price{
    font-size: medium;
    display: flex;
  }

  .stroke-price{
    font-size: medium;
    display: inline-flex;
    text-decoration: line-through red;
  }
  .sale-price{
    font-size: medium;
    display: inline-flex;
    margin: 5px;
    color: red
  }
}