.slogan {
  padding: 2vh;
  display: flex;
  width: 114vh;
  margin: auto;
  text-align: center;
  .description {
    float: left;
    width: 80vh;
    text-align: left;
    border-right: 1px solid black;
    padding: 2vh;
  }
  .characteristics{
    float: right;
    width: 34vh;
    padding: 5vh;
  }
}