.slogan {
  display: flex;
  width: 90vh;
  margin: auto;
  text-align: center;
  .description {
    float: left;
    width: 60vh;
    text-align: left;
    border-right: 1px solid black;
    padding: 2vh;
  }
  .characteristics{
    float: right;
    width: 30vh;
    padding: 5vh;
  }
}