@import './related-items/related_items';
@import './ratings-reviews/ratings_reviews';
@import './overview/overview';
@import './question-answer/question_answer';
<<<<<<< HEAD
@import './navbar';




=======
@import './shared/star_rating';

/*reset css from user agent stylesheet*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
  /*use Roboto Google Fonts*/
  font-family: 'Roboto', sans-serif;
}
>>>>>>> 09f218eb391b7e32e4e7a7fb7522e42cdd1fbba2
