@import './related-items/related_items';

.image-gallery {
  float: left;
}

.product-summary {
  float: right;
}

.overview {

}

.navbar {
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
}

.image-summary {
  display: flex;
  justify-content: center;

}

.slogan {
  display:flex;
}