<<<<<<< HEAD
@import './related-items/related_items';

.image-gallery {
  float: left;
=======
@import './ratings-reviews/ratings_reviews';


*, *::before, *::after {
  box-sizing: border-box;
>>>>>>> 5463395e3aabd7363d19eb564481c606aad19e87
}

.product-summary {
  float: right;
}



.navbar {
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
}

.image-summary {
  display: flex;
  justify-content: center;

}

.slogan {
  display:flex;
}